<mat-expansion-panel
  [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Controls
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-card>
    <mat-card-content>
      <button mat-button (click)="collapseAll()">Collapse all</button>
      <button mat-button (click)="expandAll()">Expand all</button>
    </mat-card-content>
  </mat-card>
</mat-expansion-panel>

<mat-expansion-panel
  [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Layouts
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-slide-toggle
    color="primary"
    [checked]="!layoutDisabled"
    (change)="toggleLayouts()">
    <p *ngIf="layoutDisabled">Enable layouts</p>
    <p *ngIf="!layoutDisabled">Disable layouts</p>
  </mat-slide-toggle>

  <mat-card>
    <mat-card-content>
      <mat-radio-group
        [disabled]="layoutDisabled"
        [(ngModel)]="activeLayout"
        (change)="setActiveLayout(activeLayout)">
        <mat-radio-button *ngFor="let layout of layouts"
          [value]="layout">
          {{ layout }}
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>

