button {
  display: block;
  width: 100%;
}

mat-radio-button {
  display: block;
  margin-top: 0.75rem;
  width: 100%
}

mat-slide-toggle {
  margin: 0.5rem;
}

/* WORKAROUND AROUND BUG IN ANGULAR MATERIAL. SHOULD BE REMOVED AFTER ISSUE IS FIXED.
https://github.com/angular/material2/issues/5269
Displays expansion panels correctly but arrows does not match state of the panel
in the initial position.
*/
div.mat-expansion-panel-content:not(.mat-expanded) {
  height: 0px !important;
  visibility: hidden !important;
}

.mat-expansion-panel-header  {
  height: 48px;
}

